<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <title>AngularJS Two-Way Data Binding</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body>

<div ng-controller="UserController">
  <h1>Display User Full Name</h1>
  <label for="firstName">First Name:</label>
  <input type="text" id="firstName" ng-model="user.firstName"><br>

  <label for="lastName">Last Name:</label>
  <input type="text" id="lastName" ng-model="user.lastName"><br>

  <h2>User Full Name:</h2>
  <p>{{ user.firstName }} {{ user.lastName }}</p>
</div>

<script>
var app = angular.module('myApp', []);
app.controller('UserController', function($scope) {
  $scope.user = {
    firstName: '',
    lastName: ''
  };
});
</script>

</body>
</html>
